
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }



h1{
  background-color:yellowgreen;
    color:blue;
    text-align: center;
    font-size: 60px;
}


  .city {
    background-color:yellow;
    margin: 20px;
    padding: 20px;
  }


  .order {
    background-color: aqua;
    margin: 20px;
    padding: 20px;
  }
